.table-fixed {
    width: 100%;
}

.table-fixed tbody {
    height:50vh;
    overflow-y: auto;
    width: 100%;

}

.table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
    display: block;
}

.table-fixed tbody td {
    float: left;
    width: 10%;
}

.table-fixed thead tr th {
    float:left;
    width: 10%;
    border: 0px;
}

