/*
.table-fixed {
    width: 100%;
}
*/

.table {
    border: 0;
    border-collapse: collapse;
    background-color: white;
}

/* makes the tbody spread out within the headers instead of constrained within 1 column */
.table tr {
    display: flex;
}

.table td {
    padding: 3px;
    flex: 1 auto; /* makes the column widths evenly distributed between each other */
    /*border: 1px solid #aaa;*/
    width: 1 px;
    word-wrap: break-word;
}

.table tbody {
    display: block;
    width:100%;
    overflow-y: auto; /* makes the header fixed, only works together w/ display: block */
    height: 500px; /* sets the height of the table, only works together w/ display: block */
}

.table thead tr:after {
    content: '';
    overflow-y: scroll;
    visibility: hidden;
    height: 0;
  }
  
  .table thead th {
    flex: 1 auto;
    display: block;
  }